/*=============================================================*/
/*                  Fisier: interfata1.html*/
/*=============================================================*/

/*=============================================================*/
/*          Stil pentru logo-ul de deasupra search box         */
/*=============================================================*/


.fundal{
  position: absolute;
  width: 100%;
  margin-left: -8px;
  height: auto;
  z-index: 1; /* Fundalul este în spate */
  border-radius: 8px;
  top: 0px;
}

.logo{
    margin-left: 120px;
    margin-top: 10px;
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: center; /* Centrează pe orizontală */
    align-items: center;     /* Centrează pe verticală */
    z-index:2;
    position: absolute;

}

/*=============================================================*/
/*          Stil pentru SearchBox si Titlu*/
/*=============================================================*/
 .title1 {
 font-size: 5rem;
 color: white;
 text-align:center;
 text-shadow: 0px 3px #B2FFD1;

 }

 .searchbox{
 margin-top: 5rem;
 width: 100%

 }

 .stil{
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px white;
  padding:20px;
  border:0px;
  outline: none;
  border-top: 2px #000000;
  border-bottom: 2px #000000;
  border-left: 2px #000000;
  border-right: 2px #000000;

  width: 570px
 }

 .stil:focus{
 box-shadow: 0px 0px 10px 0px white;
 }

.box {
  position: relative;
  top: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

}

/*=============================================================*/
/*          Stil pentru butonul de Login si Register*/
/*=============================================================*/
.butoane{
    /* background: -webkit-linear-gradient(53deg, white 40%, #B2FFD1 40%); */    /* Bara de sus din interfatele 1 si 2*/
    justify-content: right;
    margin-left: auto;
    display: flex;
    z-index:2;
    position: relative;

    user-select: none; /* previne selectarea textului de pe buton*/

}

.bt{
     border:1px solid white;
     background:  transparent;
     padding: 5px 5px;
     color: white;
     font-size: 20px;
     font-weight: bold;
     border-radius: 10px; /* setez colturile butoanelor sa fie rotunjite */

}


.bt:hover{
    color: #fff;
    background-color: #4d4d4d; /* schimba culoarea fontului butoanelor cand cursorul este deasupra lor*/
    cursor: pointer;
    transform: translateY(2px); /* deplaseaza butonul 2 pixeli mai jos cand cursorul este deasupra lui */

}


.submitbutton{
  background: transparent;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid;        /* setez marginea butonului */
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
 /*box-shadow: 0px 0px 10px 0px white;*/

  user-select: none;
}

.submitbutton:hover{
 background-color: #4d4d4d;

 cursor: pointer;
 transform: translateY(2px);
}























