{% extends 'base.html' %}

{% block stylesheets %}
{{ super() }}
    <link href="{{ url_for('static', filename='stil_interfata2.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='popup.css') }}" rel="stylesheet">
    <script src = "{{ url_for('static', filename='CasutaAtentionare.js') }}" defer ></script>
{% endblock %}

{% block content %}

<!-- Butonul de Login si Register -->
<div class="butoane">
  {% if logat == False %}
      <a href="{{ url_for('login') }}"> <!-- Aici fac legatura dintre butonul de logare si interfata unde introduci datele-->
       <button class = "bt bt1" >Logare</button>
      </a>
      <a href="{{ url_for('register') }}">
       <button class = "bt bt2">Inregistrare</button>
      </a>
  {% else %}
      <a href="{{ url_for('delogare') }}">
       <button class = "bt bt2">Delogare</button>
      </a>
  {% endif %}
    <a href="{{ url_for('interfata1') }}">
        <button class = "bt bt2">HomePage</button>
    </a>
</div>

<!-- Titlul(numele motorului de cautare)  -->

 <div class = "searchbox,box">

     <img src = "static/poze/fundalinterfata2.png" class = "fundal">
     <hr class = "linie">
    <img src = "static/poze/fundalinterfata2_2.png" class = "fundal2">
     <img src = "static/poze/logo224.png" class = "logo">

 </div>
<body class = "tot">


    <!-- SearchBox-ul -->
     <form action="{{ url_for('search') }}" method="POST">
      <div class = "searchbox, box">
       <input  class = "stil" id="interogare" name = "interogare" type = "text" placeholder = "Tasteaza textul" required>
             <a href="{{ url_for('search') }}">
              <button class = "submitbutton" type = "submit" onclick="ValidareInput()">Search</button>
             </a>
      </div>


     </form>
    <hr>
    <form class = "RezultateLinks">
        <!-- "search_results" este o functie din fisierul "search.py", functie care nu exista-->

        {% for value in search_results %}
        <div class = "link">
            <h3>{{ value['title'] }}</h3>
            <a href="{{value['url']}}" class = "links">
            <p>{{ value['url'] }}</p>
            </a>
        </div>
        {% endfor %}
    </form>




    <div class = "popup" id = "mypopup">
        <img class = "img" src = "static/poze/atentie6.png">
        <p class="mesaj" id = "mesajPopup">Conecteaza-ti contul pentru a avea acces la orarul profesorilor</p>

        <button class = "ok_button" type="button" onclick="ascundePopup()">ok</button>

    </div>


    <script>
        const logatt = {{'true' if logat else 'false'}};
    </script>
</body>
{% endblock %}